POSTGRES_USER=openbrau_user
POSTGRES_PASSWORD=your_secure_db_password
POSTGRES_DB=openbrau
SECRET_KEY=generate_a_random_string_here

# Drizzle
# Local Podman/Docker Compose database connection
DATABASE_URL="postgres://openbrau_user:your_secure_db_password@127.0.0.1:5432/openbrau"
